
To start with just keep it very simple.
  - please refer to this website for reference - https://www.singularityit.com/
  - website to be compatible with different sizes - like same look and feel whether we open it in laptop / ipad / phone.
  - Contact us email - info@singularityitsolutions.com
    Please let us know how we can help you. A member of our team will be in touch with you.
    
Will work on - website Content and Photographs and update here..
  - Planning to use content from here - https://www.mammothgrowth.com/
 
Thank you for helping. 
